<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Assignment 0 | IT4045C</title>
</head>
<body>
	<h1>Assignment 0 Grade Sheet</h1>
	<h3><a href="/">Go back</a></h3>
	<p>
		Did something extra, beyond the minimum requirements stated here: <b>10</b>/10 <br>
		For example, consider ways to spiff up the UI. Add an image, use some fancy UI framework/add-in, etc. <br>
		What, specifically, did you do extra? This section must be completed to earn points for doing something
		extra. <b>I connected Eclipse to GitHub using SSH since HTTP wasn't working, which included generating
		an SSH key on the server and adding it to GitHub. Also an exact copy of this section of the document
		can be found in the "View Assignment" page of the app.</b> <br>
		Virtual Machine is activated. <b>10</b>/10 <br>
		Eclipse is installed and working. <b>10</b>/10 <br>
		The Eclipse environment contains a Spring Boot project with an Application class. <b>10</b>/10 <br>
		You can run the Spring Boot project, and see a response in the browser, by right clicking on the
		Application class and selecting either Run or Debug. <b>10</b>/10 <br>
		The Spring Boot project contains a simple home page, mapped to the /index endpoint. (Simple is fine,
		don't worry about spending too much time on the look and feel.) <b>10</b>/10 <br>
		The home page contains well-formatted HTML markup: all tags are properly closed, and conform to
		XHTML Strict: <b>10</b>/10 <br>
		All proper Spring Boot annotations are present <b>10</b>/10 <br>
		The project builds without error. <b>10</b>/10 <br>
		All work is committed and pushed to a repository on github.com. The repository is named
		yourBearcatId_4045 (bearcat ID is your 6+2). <b>10</b>/10 <br>
	</p>
</body>
</html>